*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}
nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}
a{
    padding: 15px;
    border: 1px solid darkslategray;
    color: darkslategray;
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 0.7fr 2.6fr;
}
header{
    font-size: larger;
    padding: 15px;
}
section{
    margin: 15px;
}
ul{
    margin: 20px 10% 20px 10%;
}
p{
    margin: 5px;
}
code{
    margin: 8%;
    padding: 10px;
    color: darkslategray;
}
.code{
    background-color: white;
    padding: 5px;
    
}
li{
    margin: 4px;
}
/* #extra{
    display: none;
} */
@media screen and (max-width: 850px){
    nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    #content{
        display: none;
    }
    a{
        font-size: smaller;
        padding: 4px;
    }
    #nav-header{
        display: none;
    }
    #What_is_chess{
        margin-top: 40px;
    }
    .main-section{
        width: 80vw;
    }
    code{
        margin: 2px 5% 2px 5%;
        padding: 2px;
    }
    /* #extra{
        display: block;
    } */
}